<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap:dist:css:bootstrap.min">

  <script src="/js/htmx.org:dist:htmx.min"></script>
  <script src="/js/hyperscript.org:dist:_hyperscript.min"></script>

  <script type="text/hyperscript">
    def setActive(arg)
      hide <div.tab/>
      show <div.tab#$arg/>
      remove .active from <a.nav-link/>
      add .active to <a.nav-link#$arg/>

      send clicked to <div.tab#$arg/>

      set location.hash to arg
    end

    def initNavbar()
      log "Init..."
      js
        if (location.hash) {
          setActive(location.hash.slice(1))
        } else {
          setActive('complete-chat')
        }
      end
      
    end
  </script> 

</head>
<html>

<body>

  <div 
    class="container"
  >

    <div class="row">

      <div
        hx-get="/page/navbar"
        hx-trigger="load"
        hx-on::after-swap="initNavbar()"
      ></div>

      <div
        id="create-image" 
        class="row tab"
        hx-get="/page/partial:create-image"
        hx-trigger="clicked once"
      ></div>

      <div
        id="complete-chat"
        class="row tab"
        hx-get="/page/partial:complete-chat"
        hx-trigger="clicked once"
      ></div>

      <div
        id="transcribe-voice" 
        class="row tab"
        hx-get="/page/partial:transcribe-voice"
        hx-trigger="clicked once"
      ></div>

      <div
        id="create-speech" 
        class="row tab"
        hx-get="/page/partial:create-speech"
        hx-trigger="clicked once"
      ></div>

  </div>

</body>

</html>